// commons ///////////////////////////////
body {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.v-main__wrap {
	background: url(~/assets/img/cloud-pattern.png);
  background-size: 900px 900px;
	animation: bg-loop 80s linear infinite;
  padding: 40px;
}

@keyframes bg-loop {
  100% {
    background-position: 900px 0px;
  }
}

.v-messages__message {
  line-height: 15px !important;
}
// commons end ///////////////////////////
