// VuetifyのデフォルトSCSSを上書きする
// 使える変数はここで参照する => https://v2.vuetifyjs.com/ja/features/sass-variables/#section-59096570-api
$material-light: (
  'background': #f6f6f4,
);

$grid-breakpoints: (
  'ipad': 768px,
  'mobile': 426px,
);

$display-breakpoints: (
  'ipad-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, '
    ipad ') - 1})',
  'ipad-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, '
    ipad ')})',
  'mobile-and-down': 'only screen and (max-width: #{map-get($grid-breakpoints, '
    mobile ') - 1})',
  'mobile-and-up': 'only screen and (min-width: #{map-get($grid-breakpoints, '
    mobile ')})',
);

$body-font-family: 'M PLUS Rounded 1c', sans-serif;
@import '~vuetify/src/styles/styles.sass';
